body {
  font-family: Arial, sans-serif;
  background-color: #D1C7BD;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background-color: #74546a;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(6, 0, 4, 0.945);
  text-align: center;
  width: 300px;
}

.calculator input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}

.buttons button {
  padding: 10px 15px;
  margin: 5px;
  font-size: 18px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}

#clearBtn {
  margin-top: 15px;
  padding: 8px 20px;
  background-color: #ddd;
  border: none;
  cursor: pointer;
  font-size: 16px;
}