body {
  font-family: Arial, sans-serif;
  background-color: #d5a8a8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  background-color: #d291e0;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px #dcbebe;
  width: 280px;
}

#display {
  background-color: #ba3e9f;
  color: #fff;
  font-size: 2.5rem;
  text-align: right;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  height: 60px;
  overflow: hidden;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  background-color: #a5289f;
  color:white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #472348;
}

.equal {
  grid-column: span 3;
  background-color:  #a5289f;
}

.equal:hover {
  background-color: #c826d6;
}