body {
  font-family: Arial, sans-serif;
  background: #bd90ab;
  margin: 120px;
  padding: 20px;
}

.container {
  max-width: 500px;
  margin: auto;
  background: #a42a53;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
}

.input-group {
  display: flex;
  margin-bottom: 20px;
}

#taskInput {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

#addBtn {
  padding: 10px 15px;
  background: #28a745;
  border: none;
  color: rgb(24, 9, 9);
  cursor: pointer;
}

#taskList {
  list-style: none;
  padding: 0;
  max-height: 400px;
  overflow-y: auto;
}

li {
  background: #e6e2e2;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 5px solid #2a3b4d;
}

li:nth-child(even) {
  background: #e9ecef;
}

.task-text.completed {
  text-decoration: line-through;
  color: rgb(246, 242, 242);
}

.task-buttons button {
  margin-left: 5px;
  padding: 5px 8px;
  border: none;
  cursor: pointer;
}

.edit-btn {
  background: #007bff;
  color: white;
}

.delete-btn {
  background: #dc3545;
  color: white;
}

.complete-btn {
  background: #ffc107;
  color: white;
}